html, body, header, main {
  height: 100%;
}

header {
  font-family: 'Bad Script', Franklin Gothic Book, Arial, sans-serif;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px; text-align: center;
}

body {
  background: #f4f4f4;
  font-family: Lora, Georgia, Baskerville, serif;
  color: #505050;
  margin: 0px;
  padding: 0px;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}

.footer {
  font-family: 'Bad Script', Franklin Gothic Book, Arial, sans-serif;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px; text-align: center;
}

.page {
  height: 100%;
  padding: 108px;
  background: #fff;
}

.page-contact {
  height: 50%;
  padding: 54px;
  background: #fff;
}

.page-footer{
  height: 50%;
  padding: 54px;
}

.links {
  display: inline-block;
  height: 120px;
  line-height: 80px;
  position: relative;
  top: -30px;
  vertical-align: middle;
}

.links a {
  padding: 10px 0; margin: 0 8px; border: none;
}

header a {
  text-decoration: none; color: #505050;
}

header a:hover {
  color: #9326C0;
  border-bottom: 1px solid #9326C0;
}

.footer a {
  text-decoration: none; color: #505050;
}

.footer a:hover {
  color: #9326C0;
  border-bottom: 1px solid #9326C0;
}

a {
  text-decoration: none;
  color: #357efc;
  border-bottom: 1px solid #ECECEC;
  transition: color 0.2s;
}

a:hover {
  color: #9326C0;
  border-color: #9326C0;
}

.centered-img {
  width: 100px;
}

@media only screen and (max-device-width: 480px) {
  header {
    padding: 0;
  }

  main, .page, .footer, .page-contact {
    padding: 10px;
  }
}
